<template name="dashboard">
  
  <div class="app-nav">
 
        <a  id="Leads" href="{{pathFor 'leads' }}" class="card">    
          <div title="Leads" class="fx fctr fxc fh">

            <i class="fa fa-users gicon"></i>
            <div> Subscribers  </div> 
          </div>
        </a>

        <a  id="Mails" href="{{pathFor 'mails'}}" class="card">
          <div title="Mails" class="fx fctr fxc fh">

            <i class="fa fa-envelope  gicon"></i>
            <div> Mails  </div>
          </div>
        </a>


        <a  id="Socials"  href="{{pathFor 'socials'}}" class="card">
          <div title="Socials" class="fx fctr fxc fh">

            <i class="fa fa-users gicon"></i>
            <div> Social  </div>
          </div>
        </a>

        <a id="Pages"   href="{{pathFor 'pages'}}" class="card">
          <div title="Pages" class="fx fctr fxc fh">

            <i class="fa fa-paper-plane gicon"></i>
            <div> Landing Pages  </div>
          </div>
        </a>

        <a  id="Forms" href="{{pathFor 'forms' '1'}}" class="card">  
          <div title="Forms" class="fx fctr fxc fh">

            <i class="fa fa-table  gicon"></i>
            <div> Forms  </div>
          </div>
        </a>



        <a  id="Workflows" href="{{pathFor 'workflows'}}" class="card"  > 
          <div title="Workflows" class="fx fctr fxc fh">

            <i class="fa fa-steam gicon"></i>
            <div> Workflows  </div>
          </div>
        </a>


 

     </div>
     
</template>
